.player-profile{
    margin: 10px;
}

.player-picture{
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 190px;
    margin: 2%;
    width: 20%;
}

#pictureplayerone{
    background-image: url('../img/cokefish.png');
}

#pictureplayertwo{
    background-image: url('../img/kayrat.png');
}

#pictureplayerthree{
    background-image: url('../img/cokefish.png');
}


.player-content{
    display: inline-block;
    margin: 2%;
    vertical-align: top;
    width: 70%;
}

.player-content h4{
    margin: 0px;
}

.player-content span{
    margin: 0px;
}