html, body{
    background-attachment: scroll;
    background-image: url('../img/night.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    margin: 0px;
    position: static;
}

a:link, a:visited{
    color: aquamarine;
}

hr{
    border-color: darkcyan;
    border-width: 2px;
    margin: 0px;
}

.floatbar{
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    height: 388px;
    margin: 5px 0px 0px 0px;
    padding: 0px;
    position: fixed;
    text-align: center;
    width: 132px;
    z-index: 1;
}

.floatbar ul{
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.floatbar li{
    margin: 0px;
    padding: 0px;
}

.floatbar a{
    display: block;
    font-size: 16px;
    height: 41px;
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
    text-decoration: none;
    width: 128px;
}

.floatbar a:hover{
    background-color: darkcyan;
    box-shadow: 0 0 0 2px #000;
}

#navigation{
    left: 10px;
}

#social{
    right: 10px;
}

.popout{
    background-attachment: scroll;
    background-image: url('../img/chiseledpolishedblackstone.png');
    background-position: center;
    background-repeat: repeat;
    border: 2px darkcyan solid;
    border-radius: 1em;
    color: aquamarine;
    padding: 0px;
    text-shadow: -1px -1px 0 darkcyan, 1px -1px 0 darkcyan, -1px 1px 0 darkcyan, 1px 1px 0 darkcyan;
}

.popout-main{
    background-attachment: scroll;
    background-image: url('../img/night.png');
    background-position: center;
    background-repeat: repeat;
    border: 2px darkcyan solid;
    border-radius: 1em;
    color: aquamarine;
    margin-bottom: 10px;
    padding: 0px;
    position: static;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: inline-block;
    width: 100%;
}

.box{
    box-sizing: border-box;
    display: inline-block;
}

#main-title-background{
    height: 190px;
    margin: 25px 10% 0px 10%;
    position: static;
    text-align: center;
    width: 80%;
}

#full-logo{
    background-attachment: scroll;
    background-image: url('../img/suaveintlogov2-900.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    margin: 20px 10% 0px 10%;
    position: static;
}

.foreground-background{
    background-attachment: scroll;
    background-image: url('../img/suavespawn.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-top: 5px;
    margin: 5px 10% 0px 10%;
    position: static;
    width: 80%;
}

.main-container-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0px 75px 0px 75px;
    position: static;
}

.main-container-text h3{
    font-variant: small-caps;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}

.main-container-text h4{
    font-variant: small-caps;
    font-weight: bolder;
    text-align: center;
}

.main-container-text h6{
    font-style: italic;
    font-weight: lighter;
    text-align: right;
}

.main-container-text p{
    text-align: left;
}

#main-footer{
    font-style: italic;
    font-size: 12px;
    margin: 5px 10% 0px 10%;
    position: static;
    text-align: center;
    width: 80%;
}

.clearfix{
    clear:both;
}

/* Any height less than */
@media(max-height:700px){
    #main-footer{
        margin: 5px 45% 0px 45%;
        width: 10%;
    }
}
@media(max-height:650px){
    .floatbar{
        display: none;
    }
 }

/* Any width less than */
@media(max-width:630px){
    .floatbar{
        display: none;
    }
    .main-container-text{
        padding: 0px 5px 0px 5px;
    }
    .popout-main{
        padding: 0px;
    }
}

/* Any width greater than */
@media(min-width:890px){
    .main-container-text{
        padding: 0px 100px 0px 100px;
    }
}