.post-text {
    display: inline-block;
    margin: 0px;
    vertical-align: top;
    width: 70%;
}

.post-picture {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px darkcyan solid;
    border-radius: 1em;
    display: inline-block;
    height: 128px;
    margin: 0px;
    width: 128px;
}
/* 
#newspictureone {
    background-image: url('../img/blueglazedterracotta.png');
}

#newspicturetwo {
    background-image: url('../img/cyanglazedterracotta.png');
}

#newspicturethree {
    background-image: url('../img/ice.png');
}

.news-content {
    display: inline-block;
    margin: 2%;
    vertical-align: top;
    width: 70%;
}

.news-content h4 {
    margin: 0px;
}

.news-content span {
    margin: 0px;
} */