input::placeholder {
    color: aquamarine;
    opacity: 0.25;
}

.form,
table {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: lighter;
    margin: auto;
    padding: 20px 0px 5px 0px;
    width: 50%;
}

input,
select,
textarea {
    background-color: #000;
    border: 2px darkcyan solid;
    border-radius: 1em;
    color: aquamarine;
}

label[for] {
    font-size: 12px;
}

td {
    padding-bottom: 35px;
    padding-left: 50px;
}

td[spacing] {
    padding-bottom: 0px;
}

/* Any width less than */
@media(max-width:890px) {

    .form,
    table {
        margin: 0px;
    }

    td {
        padding-left: 5px;
    }
}