input::placeholder {
    color: aquamarine;
    opacity: 0.25;
}

.form,
table {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: normal;
    margin: auto;
    /* padding: 20px 0px 5px 0px; */
    text-align: center;
    width: 96%;
}

input,
select,
textarea {
    background-color: #000;
    border: 2px darkcyan solid;
    border-radius: 1em;
    color: aquamarine;
}

label[for] {
    font-size: 12px;
    font-weight: normal;
}

td {
    padding-bottom: 36px;
    /* padding-left: 50px; */
}

td[spacing] {
    padding-bottom: 0px;
}

/* Any width less than */
/* @media(max-width:890px) {

    .form,
    table {
        margin: 0px;
    }

    td {
        padding-left: 5px;
    }
} */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    form input {
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        transform: scale(0.6);
    }
    td,
    input[type="text"] {
        height: auto;
        margin: auto;
        position: static;
        /* text-align: right; */
        width: 96%;
        /* -webkit-transform: scale(0.4) translate(-100%, 0%);
        -moz-transform: scale(0.4) translate(-100%, 0%);
        -ms-transform: scale(0.4) translate(-100%, 0%);
        transform: scale(0.4) translate(-100%, 0%); */
    }
    /* .main-container-text {
        padding: 0px 5px 0px 5px;
    } */
    /* .popout-main {
        padding: 0px;
    } */
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}