html,
body {
    background-attachment: scroll;
    background-image: url('../img/night.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: static;
}

a:link {
    color: cyan;
}

a:visited {
    color: aquamarine;
}

/* hr {
    border-color: darkcyan;
    border-width: 2px;
    margin: 0px;
} */

.floatbar {
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    height: 320px;
    padding: 0px;
    position: fixed;
    text-align: center;
    top: 224px;
    width: 64px;
    z-index: 1;
}

.floatbar ul {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.floatbar li {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
}

.floatbar a {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    display: block;
    height: 64px;
    margin: 0px;
    padding: 0px;
    width: 64px;
}

.navlinks li:nth-child(1) a {
    background-image: url('../img/nav/home.png');
}
.navlinks li:nth-child(2) a {
    background-image: url('../img/nav/gallery.png');
}
.navlinks li:nth-child(3) a {
    background-image: url('../img/nav/applicationstatus.png');
}
.navlinks li:nth-child(4) a {
    background-image: url('../img/nav/howtoapply.png');
}
.navlinks li:nth-child(5) a {
    background-image: url('../img/nav/aboutus.png');
}
.sociallinks li:nth-of-type(1) a {
    background-image: url('../img/nav/youtube.png');
}
.sociallinks li:nth-of-type(2) a {
    background-image: url('../img/nav/instagram.png');
}
.sociallinks li:nth-of-type(3) a {
    background-image: url('../img/nav/twitter.png');
}
.sociallinks li:nth-of-type(4) a {
    background-image: url('../img/nav/tiktok.png');
}
.sociallinks li:nth-of-type(5) a {
    background-image: url('../img/nav/facebook.png');
}

.floatbar a:hover {
    background-color: darkcyan;
    box-shadow: 2px 2px 2px 2px #000;
}

nav[id="navigation"].floatbar {
    left: 10px;
}

nav[id="social"].floatbar {
    right: 10px;
}

.popout {
    background-attachment: scroll;
    background-image: url('../img/chiseledpolishedblackstone.png');
    background-position: center;
    background-repeat: repeat;
    border: 2px darkcyan solid;
    border-radius: 1em;
    color: aquamarine;
    text-shadow: -1px -1px 0 darkcyan, 1px -1px 0 darkcyan, -1px 1px 0 darkcyan, 1px 1px 0 darkcyan;
}

.popout-main {
    background-attachment: scroll;
    background-image: url('../img/night.png');
    background-position: center;
    background-repeat: repeat;
    border: 2px darkcyan solid;
    border-radius: 1em;
    /* box-sizing: content-box; */
    color: aquamarine;
    /* margin: 0px 8px 0px 8px; */
    margin: auto;
    padding: 0px;
    position: static;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    width: 96%;
}

.box {
    box-sizing: border-box;
    display: inline-block;
}

#main-title-background {
    height: 192px;
    margin: 20px 10% 4px 10%;
    position: static;
    text-align: center;
    width: 80%;
}

#full-logo {
    background-attachment: scroll;
    background-image: url('../img/suaveintlogov2-900.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    margin: 20px 10% 0px 10%;
    position: static;
}

.foreground-background {
    background-attachment: scroll;
    background-image: url('../img/suavespawn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin: 4px 10% 4px 10%;
    position: static;
    text-align: center;
    width: 80%;
}

.main-container-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* padding: 0px 75px 0px 75px; */
    position: static;
}

.main-container-text h3 {
    font-variant: small-caps;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}

.main-container-text h4 {
    font-variant: small-caps;
    font-weight: bolder;
    text-align: center;
}

.main-container-text h6 {
    font-style: italic;
    font-weight: lighter;
    text-align: right;
}

.main-container-text p, span {
    font-weight: 180;
    text-align: left;
}

#main-footer {
    align-items: center;
    font-style: italic;
    font-size: 12px;
    height: 64px;
    justify-content: center;
    margin: 4px 10% 0px 10%;
    position: relative;
    text-align: center;
    width: 80%;
}

#main-footer span {
    bottom: 0px;
    height: 50%;
    left: 0px;
    margin: auto;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    vertical-align: middle;
}

.clearfix {
    clear: both;
}

.error {
    color: orange;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Any height less than */
/* @media(max-height:700px) {
    #main-footer {
        margin: 5px 45% 0px 45%;
        width: 10%;
    }
} */

/* @media(max-height:650px) {
    .floatbar{
        display: none;
    }
} */

/* Any width less than */
/* @media(max-width:375px) {
    .floatbar{
        display: none;
    }
    .main-container-text {
        padding: 0px 5px 0px 5px;
    }
    .popout-main {
        padding: 0px;
    }
} */

/* Any width greater than */
/* @media(min-width:890px) {
    .main-container-text {
        padding: 0px 100px 0px 100px;
    }
} */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    nav[id="navigation"].floatbar {
        -webkit-transform: scale(0.5) translate(-80%, -50%);
        -moz-transform: scale(0.5) translate(-80%, -50%);
        -ms-transform: scale(0.5) translate(-80%, -50%);
        transform: scale(0.5) translate(-80%, -50%);
    }
    nav[id="social"].floatbar {
        -webkit-transform: scale(0.5) translate(80%, -50%);
        -moz-transform: scale(0.5) translate(80%, -50%);
        -ms-transform: scale(0.5) translate(80%, -50%);
        transform: scale(0.5) translate(80%, -50%);
    }
    form input {
        -webkit-transform: scale(0.6) translate(-100%, 0%);
        -moz-transform: scale(0.6) translate(-100%, 0%);
        -ms-transform: scale(0.6) translate(-100%, 0%);
        transform: scale(0.6) translate(-100%, 0%);
    }
    td,
    input[type="text"] {
        height: auto;
        margin: auto;
        position: static;
        /* text-align: right; */
        width: 96%;
        /* -webkit-transform: scale(0.4) translate(-100%, 0%);
        -moz-transform: scale(0.4) translate(-100%, 0%);
        -ms-transform: scale(0.4) translate(-100%, 0%);
        transform: scale(0.4) translate(-100%, 0%); */
    }
    form input {
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        transform: scale(0.6);
    }
    td,
    input[type="text"] {
        height: auto;
        margin: auto;
        position: static;
        /* text-align: right; */
        /* width: 96%; */
        /* -webkit-transform: scale(0.4) translate(-100%, 0%);
        -moz-transform: scale(0.4) translate(-100%, 0%);
        -ms-transform: scale(0.4) translate(-100%, 0%);
        transform: scale(0.4) translate(-100%, 0%); */
    }
    /* .main-container-text {
        padding: 0px 5px 0px 5px;
    } */
    /* .popout-main {
        padding: 0px;
    } */
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    /* form input {
        -webkit-transform: translate(50%, -100%);
        -moz-transform: translate(50%, -100%);
        -ms-transform: translate(50%, -100%);
        transform: translate(50%, -100%);
    } */
    nav[id="navigation"].floatbar {
        -webkit-transform: scale(0.9) translate(-20%, -56%);
        -moz-transform: scale(0.9) translate(-20%, -56%);
        -ms-transform: scale(0.9) translate(-20%, -56%);
        transform: scale(0.9) translate(-20%, -56%);
    }
    nav[id="social"].floatbar {
        -webkit-transform: scale(0.9) translate(20%, -56%);
        -moz-transform: scale(0.9) translate(20%, -56%);
        -ms-transform: scale(0.9) translate(20%, -56%);
        transform: scale(0.9) translate(20%, -56%);
    }
    /* .main-container-text {
        padding: 0px 5px 0px 5px;
    } */
    /* .popout-main {
        padding: 0px;
    } */
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}